<a href="https://colab.research.google.com/github/phaeluis/PS-UFRJ-Analytica-2022/blob/main/PS_UFRJ_Analytica_22_2_parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.1 Numpy
#4. Iteração em um Numpy array
Para iterar nos elementos costumamos utilizar o loop da mesma forma que uma
lista.
A partir do seguinte array: 
[5.5, 3.8, 9, 7.5, 10.0, 9.9, 8.5]

(a) Calcule a média dos valores usando iteração.

(b) Calcule o desvio padrão dos valores usando iteração.
Referência: https://www.todamateria.com.br/desvio-padrao/

In [ ]:
v=[5.5, 3.8, 9, 7.5, 10.0, 9.9, 8.5]
s=D=0
for i in range(len(v)):
  s+=v[i]
m=s/(i+1)
print('a)',m)
for i in range(len(v)):
  D+=(v[i]-m)**2
DP= (D/(i+1))**1/2
print('b)',DP)

a) 7.742857142857142
b) 2.324081632653061

#5. Funções Facilitadoras:
(a) Ordene os elementos do array da questão anterior usando o método .sort() próprio do numpy.

(b) Para saber as dimensões do array podemos use a propriedade .shape

(c) Extraia a média de um array numpy utilizando o método .mean(): print(arr.mean())

(d) O mesmo pode ser feito para o desvio padrão, com .std(), máxima e mı́nima com .max() e .min(), além de muitos outros métodos.

(e) O numpy traz muitas funcionalidades de geração de números aleatórios com o ’random’. Explore essa documentação https://www.w3schools.
com/python/numpy/numpy_random.asp e:
Gere um array de 100 números aleatórios entre 0 e 10 (inclusive) e imprima na tela a média, desvio padrão, o maior valor e o menor valor.

In [ ]:
import numpy as np
from numpy import random
print('a)',np.sort(v))
print('b)',np.shape(v))
print('c)',np.mean(v))
print('d)',np.std(v))
print('e)')
e=random.randint(11, size=100)
print(e)
print('média:',np.mean(e))
print('desvio padrão',np.std(e))
print('maior:',np.max(e))
print('menor:',np.min(e))

a) [ 3.8  5.5  7.5  8.5  9.   9.9 10. ]
b) (7,)
c) 7.742857142857142
d) 2.155959940561541
e)
[ 2  1  7  8  7  1  5 10  3  6  9  1  9  6  2  8 10  7  7  1  8  4  5  1
  7  9  6  6  7  1  2 10  0  8  5  3  8  4  2  7 10  1  0  2  1  3  9  3
  5 10  0 10  5  2  1  2  0  8  6  3  4  6  1  4 10  8  1 10  1  2  6  5
  9  5  5  6  3  6  5  2  1  6  6  2  7  5  7  6  8  6  5  6  4  6  5  1
  8  0  2 10]
média: 4.94
desvio padrão 3.0226478458464197
maior: 10
menor: 0

#2.2 Pandas
## 2.2.2 Parte Prática
Nessa parte utilizaremos a base repassada junto com este documento, de dados
sócio-econômicos brasileiros, para tratar e avaliar, utilizando os conceitos vistos na
parte teórica.
1. Comece lendo o arquivo csv para um DataFrame.
2. Visualize os dados em forma de tabela para compreender a estrutura e suas
colunas.
3. Calcule o IDH médio do brasil no ano de 1991:
(a) Comece fazendo uma filtragem nas linhas para selecionar apenas os dados
referentes ao ano de 1991.
(b) Obtenha os valores de IDH.
(c) Retorne a média.
4. A partir da lista dos IDHs da questão anterior retorne o estados que estão acima
da média, também no ano de 1991.
(a) A partir do valor de média filtre o dataframe dos dados de 1991 para apenas
os que possuem IDH maior que a média.
(b) Retorne os estados referentes a essas linhas resultantes.
5. Ordene os dados do DataFrame de 1991 de acordo com o IDH, usando a função
sort values() e mostre a tabela dos 5 primeiros com o .head(5).
6. Analise os dados de IDH. Use as funções de .min(), .max(), .idxmin() e .idxmax()
para saber qual o estado de maior e menor IDH no DataFrame do ano de 1991

In [5]:
import pandas as pd
#1
df = pd.read_csv("https://raw.githubusercontent.com/phaeluis/PS-UFRJ-Analytica-2022/main/idh91-00-10.csv")
#2
display(df)

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
0   1991       AC             63.72            258520           159198  0.402
1   1991       AL             58.10           1482033          1032067  0.370
2   1991       AM             63.67           1502754           600489  0.430
3   1991       AP             65.05            234131            55266  0.472
4   1991       BA             59.94           7016770          4851221  0.386
..   ...      ...               ...               ...              ...    ...
76  2010       RS             75.38           9100291          1593638  0.746
77  2010       SC             76.61           5247913          1000523  0.774
78  2010       SE             71.84           1520366           547651  0.665
79  2010       SP             75.69          39585251          1676948  0.783
80  2010       TO             72.56           1090106           293339  0.699

[81 rows x 6 columns]

In [ ]:
#3a
ano91 = df[df["ano"] == 1991]
display(ano91)

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
0   1991       AC             63.72            258520           159198  0.402
1   1991       AL             58.10           1482033          1032067  0.370
2   1991       AM             63.67           1502754           600489  0.430
3   1991       AP             65.05            234131            55266  0.472
4   1991       BA             59.94           7016770          4851221  0.386
5   1991       CE             61.76           4162007          2204640  0.405
6   1991       DF             68.87           1515889            85205  0.616
7   1991       ES             66.17           1924588           676030  0.505
8   1991       GO             65.10           3247676           771227  0.487
9   1991       MA             58.04           1972421          2957832  0.357
10  1991       MG             66.36          11786893          3956259  0.478
11  1991       MS             66.93           1414447           365926  0.488
12  1991       MT             64.24           1485110           542121  0.449
13  1991       PA             63.42           2596388          2353672  0.413
14  1991       PB             58.88           2052066          1149048  0.382
15  1991       PE             62.04           5051654          2076201  0.440
16  1991       PI             60.71           1367184          1214953  0.362
17  1991       PR             65.71           6197953          2250760  0.507
18  1991       RJ             66.42          12199641           608065  0.573
19  1991       RN             60.48           1669267           746300  0.428
20  1991       RO             63.11            659327           473365  0.407
21  1991       RR             62.66            140818            76765  0.459
22  1991       RS             68.76           6996542          2142128  0.542
23  1991       SC             70.16           3208537          1333457  0.543
24  1991       SE             59.83           1002877           488999  0.408
25  1991       SP             68.82          29314861          2274064  0.578
26  1991       TO             60.32            530636           389227  0.369

In [ ]:
#3b
idh91=ano91['idhm']
display(idh91)

0     0.402
1     0.370
2     0.430
3     0.472
4     0.386
5     0.405
6     0.616
7     0.505
8     0.487
9     0.357
10    0.478
11    0.488
12    0.449
13    0.413
14    0.382
15    0.440
16    0.362
17    0.507
18    0.573
19    0.428
20    0.407
21    0.459
22    0.542
23    0.543
24    0.408
25    0.578
26    0.369
Name: idhm, dtype: float64

In [ ]:
idhm91=ano91['idhm'].mean()
display(idhm91)

0.45392592592592584

In [ ]:
#ex4a
maiores91 = ano91[ano91["idhm"] > idhm91]
display(maiores91)

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
3   1991       AP             65.05            234131            55266  0.472
6   1991       DF             68.87           1515889            85205  0.616
7   1991       ES             66.17           1924588           676030  0.505
8   1991       GO             65.10           3247676           771227  0.487
10  1991       MG             66.36          11786893          3956259  0.478
11  1991       MS             66.93           1414447           365926  0.488
17  1991       PR             65.71           6197953          2250760  0.507
18  1991       RJ             66.42          12199641           608065  0.573
21  1991       RR             62.66            140818            76765  0.459
22  1991       RS             68.76           6996542          2142128  0.542
23  1991       SC             70.16           3208537          1333457  0.543
25  1991       SP             68.82          29314861          2274064  0.578

In [ ]:
#ex4b
estados91 = maiores91["sigla_uf"]
display(estados91)

3     AP
6     DF
7     ES
8     GO
10    MG
11    MS
17    PR
18    RJ
21    RR
22    RS
23    SC
25    SP
Name: sigla_uf, dtype: object

In [ ]:
#ex5
display(ano91.sort_values(by=['idhm']).head(5))
#display(ano91.sort_values(by=['idhm']).tail(5))

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
9   1991       MA             58.04           1972421          2957832  0.357
16  1991       PI             60.71           1367184          1214953  0.362
26  1991       TO             60.32            530636           389227  0.369
1   1991       AL             58.10           1482033          1032067  0.370
14  1991       PB             58.88           2052066          1149048  0.382

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
22  1991       RS             68.76           6996542          2142128  0.542
23  1991       SC             70.16           3208537          1333457  0.543
18  1991       RJ             66.42          12199641           608065  0.573
25  1991       SP             68.82          29314861          2274064  0.578
6   1991       DF             68.87           1515889            85205  0.616

In [ ]:
#ex6
#display(ano91.min())
print('Estado de menor IDH em 1991:',ano91.min().sigla_uf)
#display(ano91.max())
print('Estado de maior IDH em 1991:',ano91.max().sigla_uf)
#investigar porque os respectivos UFs, apesar de apresentar valores corretos para os menores e maiores IDHs
#estão diferentes dos analisados em ex5 (MA e DF).

Estado de menor IDH em 1991: AC
Estado de maior IDH em 1991: TO